langchain
langchain_core
python-dotenv
langchain_groq
langchain_openai
ipykernel
langchain_google_genai
langchain_community
pypdf
faiss-cpu
langchain-google-vertexai
langchain-aws
boto3
structlog
PyMuPDF
pandas
langchain-core[tracing]
pytest
streamlit